[package]
name = "plc_ast"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
plc_util = { path = "../plc_util" }
plc_source = { path = "../plc_source" }
chrono = { version = "0.4", default-features = false }
serde = { version = "1.0", features = ["derive"] }
rustc-hash.workspace = true
