/target
/target-watch
**/*.rs.bk
**/*.un~
**/*.toml~
*.ir
*.o
*.bc
*.a
*.elf

# Introduced with issue #679: 
# We're assuming config.toml to be a local config file for now.
# This entry has to be removed if a global config file is needed in the near future.
.cargo/config.toml