[package]
name = "rusty"
version = "0.1.0"
authors = ["Ghaith Hachem <ghaith.hachem@gmail.com>"]
edition = "2018"

[dependencies]
logos = "0.9.7"
inkwell = { git = "https://github.com/TheDan64/inkwell", branch = "llvm8-0" }
pretty_assertions = "0.6.1"
