[package]
name = "rusty"
version = "0.2.0"
authors = ["Ghaith Hachem <ghaith.hachem@gmail.com>", "Mathias Rieder <mathias.rieder@gmail.com>"]
edition = "2021"
readme = "README.md"
repository = "https://github.com/ghaith/rusty/"
license = "LGPL-3.0-or-later"
keywords = ["iec61131", "st", "Structued_Text"]
categories = ["development-tools::build-utils"]

[dependencies]
logos = "0.12.0"
inkwell = { git = "https://github.com/ghaith/inkwell", branch = "runpasses", features= ["llvm13-0"] }
# llvm-sys = "130"
thiserror = "1.0"
clap = { version = "3.0", features = ["derive"] }
indexmap = "1.6"
chrono = "0.4"
glob = "0.3.0"
encoding_rs = "0.8"
encoding_rs_io = "0.1"
codespan-reporting = "0.11.1"
lld_rs = { git = "https://github.com/ghaith/lld-rs", tag = "v130.0.0" } 
generational-arena = "0.2.8"
regex = "1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1"
toml = "0.5"

[dev-dependencies]
num = "0.4"
insta = "1.8.0"
pretty_assertions = "0.6.1"

[lib]
name = "rusty"
path = "src/lib.rs"

[[bin]]
name = "rustyc"
path = "src/main.rs"
