[package]
name = "rusty"
version = "0.1.0"
authors = ["Ghaith Hachem <ghaith.hachem@gmail.com>"]
edition = "2018"

[dependencies]
logos = "0.11.4"
inkwell = { git = "https://github.com/TheDan64/inkwell", branch = "llvm10-0" }
pretty_assertions = "0.6.1"

[lib]
name = "rusty"
path = "src/lib.rs"

[[bin]]
name = "rustyc"
path = "src/main.rs"
