[package]
name = "rusty"
version = "0.2.0"
authors = [
    "Ghaith Hachem <ghaith.hachem@gmail.com>",
    "Mathias Rieder <mathias.rieder@gmail.com>",
]
edition = "2021"
readme = "README.md"
repository = "https://github.com/ghaith/rusty/"
license = "LGPL-3.0-or-later"
keywords = ["iec61131", "st", "Structued_Text"]
categories = ["development-tools::build-utils"]

[features]
default = []
debug = []
verify = []

[dependencies]
logos = "0.12.0"
inkwell = { git = "https://github.com/TheDan64/inkwell", branch = "master", features = [
    "llvm14-0",
] }
thiserror = "1.0"
clap = { version = "3.0", features = ["derive"] }
indexmap = "1.6"
chrono = {version = "0.4.23", default-features = false }
glob = "0.3.0"
encoding_rs = "0.8"
encoding_rs_io = "0.1"
codespan-reporting = "0.11.1"
lld_rs = "140.0.0"
generational-arena = "0.2.8"
regex = "1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1"
toml = "0.5"
lazy_static = "1.4.0"
shell-words = "1.1.0"
which = "4.2.5"
tempfile = "3"
itertools = "0.10.5"

[dev-dependencies]
num = "0.4"
insta = "1.20.0"
pretty_assertions = "1.3.0"
serial_test = "*"

[lib]
name = "rusty"
path = "src/lib.rs"

[[bin]]
name = "rustyc"
path = "src/main.rs"

[workspace]
members = [
    "xtask",
	"libs/stdlib",
]
default-members = [".", "libs/stdlib"]
