[package]
name = "plc_project"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
plc = { path = "../..", package = "rusty" }
plc_diagnostics = { path = "../plc_diagnostics/" }
plc_ast = { path = "../plc_ast"}
serde = { version = "1.0", features = ["derive"] }
serde_json = "1"
regex = "1"
jsonschema = "0.17"
encoding_rs.workspace = true
encoding_rs_io.workspace = true
glob = "*"
anyhow.workspace = true

[dev-dependencies]
insta = "1.31.0"

[features]
integration = []
