name: Build

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  lit-linux-debug:
    name: lit tests (Linux, debug build)
    runs-on: ubuntu-latest
    container: ghcr.io/plc-lang/rust-llvm:14-1.83
    steps:
      - uses: actions/checkout@v3

      - name: Run `build.sh --lit`
        shell: bash
        run: |
          ./scripts/build.sh --lit

  lit-linux-release:
    name: lit tests (Linux, release build)
    runs-on: ubuntu-latest
    container: ghcr.io/plc-lang/rust-llvm:14-1.83
    steps:
      - uses: actions/checkout@v3

      - name: Run `build.sh --lit --release`
        shell: bash
        run: |
          ./scripts/build.sh --lit --release
